
@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
        // line-height: 400%;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        // line-height: 100%;
    }
}

.slide-up {
    animation: slide-up 1.5s;
}